# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
GUI Code/.DS_Store
GUI Code/bluej.pkh
GUI Code/ButtonTest2.java
GUI Code/bluej.pkg
GUI Code/ButtonTest.java
GUI Code/ButtonTest4.java
GUI Code/package.bluej
GUI Code/README.TXT
GUI Code/ShowDefinition.java
GUI Code/SimpleButton.java
GUI Code/ButtonWithListener.java
GUI Code/PhoneSolved.java
GUI Code/TestMsg.java
GUI Code/PickColor.java
GUI Code/Phone.java
GUI Code/ButtonTest3.java
GUI Code/VariousComponents.java
